extends layout

block content
  h1= "squish"
  p welcome to squish
  form(action="/upload", method='post', enctype='multipart/form-data')
    input(type='file', name='file')
    input(type='submit', name='uploadfile', value='squish!')