extends layout

block content
  h1= "squish"
  p welcome to squish. i can squish videos and pictures
  form(action="/upload", method='post', enctype='multipart/form-data')
    input(type='file', name='file')
    input(type='submit', name='uploadfile', value='squish!')
  p i'm in alpha 0.0.000000001 pls don't break me
  a(href='https://github.com/kyleawayan/squish') github